QWidget {
    background-color: #181926;
}
QPushButton {
    font-size: 16px;
    background-color: "darkblue"
}
QMenuBar {
    color: "white";
}

QMenu {
    color: "white";
}

QMenuBar::item {
    color: "white"; 
}

QMenuBar::item::selected {
    color: "white"; 
}
