QWidget {
    background-color: #24273A;
    color: "white";
}
QPushButton {
    font-size: 16px;
    background-color: "darkblue"
}
/*QLineEdit {*/
/*    background-color: "white";*/
/*    color: "black";*/
/*}*/

